body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

canvas#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10; /* behind the form */
}


